<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Administración | Proyecto Colima</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
    .bienvenida{
    	padding-right: 15px;
    }
    .menu{
    	padding-left: 15px;
    	width: 15%;
    }
    </style>
  </head>
  <body>
  	<header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
				<a class="navbar-brand" href="{% url 'administracion:index' %}">
				Proyecto Colima
				</a>

	            {% if user.is_authenticated %}
	            	<p class="navbar-text navbar-right bienvenida">Bienvenido/a, {{ user.first_name }} {{ user.last_name }}. <a class="navbar-link" href="{% url 'administracion:logout-web' %}">Cerrar sesión</a> </p>
                {% else %}
                	<p class="navbar-text navbar-right"> </p>
	            {% endif %}
		    </div>
		</nav>

  	</header>
	<div class="menu">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation">
				<a href="{% url 'administracion:proyectos' %}">
					Proyectos
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:facturas' %}">
					Facturas
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:anexostecnicos' %}">
					Anexos técnicos
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:contratos' %}">
					Contratos
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:convenios'%}">
					Convenios
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:propuestas' %}">
					Propuestas
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:empresas' %}">
					Empresas
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:registrar-entregable' %}">
					Entregables
				</a>
			</li>
			<li>
				<a href="{% url 'administracion:registrar-personal' %}">
					Personal
				</a>
			</li>
			<li>
				<a href="#">Histórico</a>
			</li>
			<li>
				<a href="#">Homologación de docs</a>
			</li>
		</ul>
	</div>
  </body>
</html>

















